* navigation
** mainpage|mainpage-description
** Special:RecentChanges|recentchanges
** Special:AllPages|allpages
** Special:Categories|categories
* community
** Project:Community_portal|portal
** Special:Upload|upload
* tools
** Special:SpecialPages|specialpages
** Special:Version|version
