server {
    listen 80;
    listen [::]:80;
    server_name {{ mediawiki_server_name }};

    return 301 https://$host$request_uri;
}

server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    server_name {{ mediawiki_server_name }};

    ssl_certificate {{ mediawiki_ssl_cert_path }};
    ssl_certificate_key {{ mediawiki_ssl_key_path }};
    ssl_session_timeout 1d;
    ssl_session_cache shared:MediaWikiSSL:10m;
    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_prefer_server_ciphers off;

    client_max_body_size 100m;
    index index.php;

    location = / {
        return 301 {{ mediawiki_script_path }}/;
    }

    location = {{ mediawiki_script_path }} {
        return 301 {{ mediawiki_script_path }}/;
    }

    location = {{ mediawiki_script_path }}/LocalSettings.php {
        deny all;
    }

    location ~ ^{{ mediawiki_script_path | regex_escape }}/(?:cache|includes|languages|maintenance|serialized|tests)/ {
        deny all;
    }

    location {{ mediawiki_script_path }}/ {
        root {{ mediawiki_current_path | dirname }};
        index index.php;
        rewrite ^{{ mediawiki_script_path | regex_escape }}/(.*)$ /current/$1 break;
        try_files $uri $uri/ /current/index.php?$args;
    }

    location ~ ^{{ mediawiki_script_path | regex_escape }}/(.+\.php)$ {
        include snippets/fastcgi-php.conf;
        fastcgi_param SCRIPT_FILENAME {{ mediawiki_current_path }}/$1;
        fastcgi_param PATH_INFO "";
        fastcgi_pass unix:{{ mediawiki_php_fpm_socket }};
    }

    location ~ /\.(?!well-known) {
        deny all;
    }
}
